body {
    font-family: Arial, sans-serif;
    background-color: purple;
    background-image: url('farm.jpg');
  }


h1{
    font-size: 50px;
    color: white;
    text-shadow:
    1px 1px 0px black,   /* Shadow on the bottom right */
    -1px -1px 0px black, /* Shadow on the top left */
    1px -1px 0px black,  /* Shadow on the top right */
    -1px 1px 0px black,  /* Shadow on the bottom left */
    0px 2px 0px black,   /* Shadow below */
    0px -2px 0px black,  /* Shadow above */
    2px 0px 0px black,   /* Shadow to the right */
    -2px 0px 0px black;
}
  .container {
    text-align: center;
    margin-top: 50px;
    
  }

  .animalPictures{
   border-radius: 10px;
   border: 5px solid rgba(0, 0, 0, 0.5);
  }
  .animalPictures:hover{
    border-radius: 10px;
    opacity: .8;
    transform: scale(1.05);
    transition: transform 0.4s;
   }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #userTable {
    margin-top: 20px;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 50%;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  .grid-container {
    display: grid;               /* Enables CSS grid layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates columns with a minimum width of 100px */
    gap: 20px;    
    padding-top: 175px;
  }
  
  .grid-container img {
    width: 100%;                 /* Make images fill the grid cell */
    height: auto;                /* Maintain aspect ratio */
  }

  .enlarged-view {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }
  
  #enlarged-image {
    width: 700px;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    size: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .enlarged-container {
    display: flex;
    justify-content: space-between;  /* Places content to the left and right */
    align-items: flex-start;         /* Aligns items to the top */
    margin: 20px;
  }
  
  .enlarged-view {
    flex: 1;  /* Makes the image take up available space */
    display: flex;
    justify-content: center;
  }
  
  #imageDataTableContainer {
    flex: 1;  /* Makes the table take up available space */
    padding: 20px;
    max-width: 400px; /* Limits the width of the table */
    overflow: auto;  /* Adds scrollbars if the table gets too long */
  }

.hiddenTable{
    background-color: white;
    display: none;
}

form{
    align-self: right;
}