#header {
    background-color: black;
    letter-spacing: 12px;
    font-size: 30px;
    text-align: center;
    font-family: "Franklin Gothic Medium";
    color: white;
    padding: 15px;
    border: 2px solid #333;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.47);
    width: 100%;
}

body {
    background-image: url('sky.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
   
}

.yearBoxes {
    width: 45%; 
    height: 200px;
    background-color: #f3f3f3;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.47);
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 80px;
    padding-top: 70px;
    color: color-mix(in srgb, blue 40%, yellow 60%);
    opacity: 0.9;
    margin: 10px;
    border-radius: 10px;
}

.headers{
    color:white;
    font-family: serif;
    font-size: 100px;
}
.movies{
    color:red;
    font-family: "Franklin Gothic Medium";
    font-size: 50px;
}

.votingText{
    color:white;
    font-size: 40px;
}
.buttonContainer{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.buttons{
    background-color: color-mix(in srgb, blue 40%, yellow 60%);
    width:100px;
    height: 30px;
}

.inputField{
    padding-top: 50px;
    color:white;
}