#header{
    background-color: black;
    letter-spacing: 12px;
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -10px;
    font-family: "Helvetica";
    color:white;
    padding: 15px;
    border: 2px solid #333;
    margin: 0;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.47);

}

body{
background-image: url('sky.jpg');
} 

.yearBoxes{
    width: 250px;
    height: 100px; 
    background-color: #f3f3f3;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.47);
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 70px;
    font-style: oblique;
    padding-top: 10px;
}

#year2000{
    position: relative;
    left:15px;
    top:10px;
}

#year2001{
    position: relative;
    left:360px;
    top: -90px;
}
#year2002{
    position: relative;
    left: 15px;
    top: -60px;
}
#year2003{
    position: relative;
    left:360px;
    top: -160px;
}
